.set{
    padding: -1rem 0rem;
}

.Projects{
    background: linear-gradient(0deg, white 0%, rgb(230,230,230) 100%);
}

.headerTitle{
    text-align: center !important;
    padding-top: 1rem;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}