.link{
    color: black;
    text-decoration: none;
}
.fa{
    padding-right: 1rem;
}

.Contact{
    background: white;
    padding-top: 1rem;
}

.fa-github-square{
    padding:0 5px 0 10px;
    color:black;
}

.fa-linkedin-square{
    padding:0 5px 0 10px;
    color:black;
}